@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Heebo";
  src: url("fonts/Heebo[wght].woff2") format("woff2-variations");
  font-weight: 1 999;
}


@font-face {
  font-family: "Libre Baskerville";
  src: url("fonts/LibreBaskerville[wght].woff2") format("woff2-variations");
  font-weight: 1 999;
}


body {
  @apply bg-gray-50 font-body font-normal text-gray-900;
  @apply dark:bg-gray-900 dark:text-gray-200;
}
